footer,header{
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    text-align: center;
    color: white;
    font-weight: 300;
}

ul{
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer{
    width:100%;
    padding: 0px 50px;
    padding-bottom: 30px;
    padding-top: 10px;
}

.link:hover{
    cursor: pointer;
}

footer li:nth-of-type(n+1)::before{
    content: '   |  ';
    font-size: 15px;
    padding-right: 5px;
}

footer li:nth-of-type(1)::before{
    content:'';
}

footer li{
    padding: 0px 5px;
    font-size: 12px;
    line-height: 1.3em;
}


@media(max-width:480px){
    footer{
        padding: 0px 10px;
    }

    footer li{
        padding: 0px
    }

    footer li:nth-of-type(n+1)::before{
        content: '';
    }

    footer li:nth-of-type(3){
        display: none;
    }
}