header{
    width: 100%;
    margin-top:80px;
}

.logo{
    font-family: "Noto Serif Ethiopic", serif;
  font-optical-sizing: auto;
}

header ul{
    display: flex;
    justify-content: center;
    align-items: center;
}

header li{
    padding: 5px 25px;
    font-size: 12px;
    line-height: 30px;
    font-weight: 300; 
}

.hamburger {
    display: none; /* Hide by default */
    flex-direction: column;
    cursor: pointer;
    padding: 10px;
}

.hamburger .line {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 4px 0;
    transition: transform 0.3s, opacity 0.3s;
}

header li a {
    text-decoration: none;
    color: white;
    transition: color 0.5s;
}

header li a:hover{    
    color: gold;
    cursor: pointer;
}

.active-link{
    color: gold;
}

header li:nth-of-type(n+1)::before{
    content: '   |  ';
    font-size: 20px;
    padding-right: 35px;
    color: white;
}

header li:nth-of-type(1)::before{
    content:'';
}


@media (max-width: 768px) {
    header ul {
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        position: absolute;
        top: 80px; /* Adjust based on your header height */
        left: 0;
        min-width: 90%;
        background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent background */
        z-index: 1000;
    }

    header ul.open {
        display: flex; /* Show the menu when open */
        overflow-x: hidden;
    }

    header li {
        padding: 0px;
        text-align: start;
    }

    header li:nth-of-type(n+1)::before {
        content: ''; /* Remove separators for mobile */
    }

    .hamburger {
        display: flex; /* Show hamburger icon on smaller screens */
    }
}

/* Adjust for very small screens */
@media (max-width: 480px) {
    header ul {
        top: 117px; /* Adjust based on your header height */
    }

    header li {
        font-size: 14px;
    }
}